---
import { getCollection } from 'astro:content'
export async function getStaticPaths() {
  const allPlanets = await getCollection('destination')
    return allPlanets.map((planet) => {
        return {params: {slug: planet.id}, props: {planet}}
    })
}


import Layout from "../../layout/Layout.astro"
import Sphere from "../../components/Sphere.vue"
import DestBg from "../../assets/destination/background-destination-desktop.jpg"
import { Image } from 'astro:assets'


const { planet } = Astro.props
const  Planets  = await getCollection('destination')
const planetsID = Planets.map((planet) => {
	return planet.id
})
---

<Layout title={planet.data.name} bg={DestBg.src}>
	<main transition:animate="fade" class="grid grid-cols-12 h-screen ">
		<div class="col-span-4 col-start-2 row-start-4">
			<div>
				<Sphere client:only="vue" textureSphere={planet.data.texture}/>
			</div>
			<div >
				<h1 class="heading-5 uppercase">
					{planet.data.name}
				</h1>
				<p>
					{planet.data.description}
				</p>
			</div>
			<nav transition:name={`nav-text`} class="nav-text">
				<ul>
					{planetsID.map((id) => (
						<li>
							<a href={`/destination/${id}`} class="capitalize" data-astro-history="replace">
								{id}
							</a>
						</li>
					))}
				</ul>
			</nav>
		</div>
	</main>
</Layout>

