---
import { getCollection } from 'astro:content'
export async function getStaticPaths() {
  const allPlanets = await getCollection('destination')
    return allPlanets.map((planet) => {
        return {params: {slug: planet.id}, props: {planet}}
    })
}

import Layout from "../../layout/Layout.astro"
import Sphere from "../../components/Sphere.vue"
import DestBg from "../../assets/destination/background-destination-desktop.jpg"
import { Image } from 'astro:assets'
import Tabs from "../../components/Tabs.astro";


const { planet } = Astro.props
---

<Layout title={planet.data.name} bg={DestBg.src}>
	<main transition:animate="fade" class="h-screen">
		<div class="grid grid-cols-12 h-full grid-rows-4">
			<div class="row-start-2 col-start-2 col-span-5">
				<h2 transition:name="destination-title" class="heading-5 flex items-end gap-4 uppercase text-white col-start-2 row-start-2 col-span-4"><span class="font-bold opacity-35">01</span> Pick your destination</h2>
			</div>
			<div class="col-span-4 col-start-3 row-start-3" transition:animate="slide">
				<div class="flex items-center h-full">
					<Sphere client:only="vue" textureSphere={planet.data.texture}/>
				</div>
			</div>
			<article class="col-span-4 col-start-8 row-start-2 row-span-3 flex items-center">
				<div>
					<Tabs planetsID={["moon", "mars", "europa", "titan"]}/>
					<div >
						<h1 transition:animate="slide" class="heading-2 uppercase my-2">
							{planet.data.name}
						</h1>
						<p transition:animate="slide">
							{planet.data.description}
						</p>
						<div class="mt-14 pt-4 text-white border-t-[0.5px] border-opacity-15 border-primary">
							<ul class="flex w-full ">
								<li class="flex-1"><span transition:name="destination-avg-distance" class="block subheading-2 text-primary uppercase">Avg. Distance</span><span transition:animate="slide" class="subheading-1 uppercase">{planet.data.distance}</span></li>
								<li class="flex-1"><span transition:name="destination-travel-time" class="block subheading-2 text-primary uppercase">Est. Travel Time</span><span transition:animate="slide" class="subheading-1 uppercase">{planet.data.travel}</span></li>
							</ul>
						</div>
					</div>
				</div>

			</article>

		</div>
	</main>
</Layout>

