---
import { getCollection } from 'astro:content'
export async function getStaticPaths() {
  const allPlanets = await getCollection('destination')
    return allPlanets.map((planet) => {
        return {params: {slug: planet.id}, props: {planet}}
    })
}

import Layout from "../../layout/Layout.astro"
import Sphere from "../../components/Sphere.vue"
import DestBg from "../../assets/destination/background-destination-desktop.jpg"
import { Image } from 'astro:assets'
import Tabs from "../../components/Tabs.astro";


const { planet } = Astro.props
---

<Layout title={planet.data.name} bg={DestBg.src}>
	<main transition:animate="fade" class="sm:min-h-screen sm:h-full h-screen">
		<div class="grid grid-cols-12 h-full grid-rows-4 lg:grid-rows-8">
			<div class="row-start-2 col-start-2 col-span-12 lg:flex lg:items-center">
				<h2 transition:name="destination-title" class="heading-5 flex items-end gap-4 uppercase text-white col-start-2 row-start-2 col-span-4"><span class="font-bold opacity-35">01</span> Pick your destination</h2>
			</div>
			<div class="col-span-4 col-start-3 row-start-3  xl:col-start-1 xl:col-span-6 lg:row-start-3 lg:row-span-2 lg:flex lg:justify-center lg:col-span-12" transition:animate="slide">
				<div class="flex items-center h-full lg:items-start">
					<Sphere client:only="vue" textureSphere={planet.data.texture}/>
				</div>
			</div>
			<article class="col-span-4 col-start-8 row-start-2 row-span-3 flex items-center lg:justify-center xl:col-start-8 lg:row-start-5 lg:col-span-12 lg:items-end lg:row-span-4 lg:text-center">
				<div>
					<Tabs planetsID={["moon", "mars", "europa", "titan"]}/>
					<div>
						<h1 transition:animate="slide" class="heading-2 uppercase my-2 lg:my-0 md:h-[80px] lg:flex lg:items-center justify-center">
							<span>
								{planet.data.name}
							</span>

						</h1>
						<p transition:animate="slide" class="max-w-[444px]">
							{planet.data.description}
						</p>
						<div class="mt-14 lg:mt-4 pt-4 text-white border-t-[0.5px] border-opacity-15 border-primary">
							<ul class="flex w-full lg:justify-center lg:gap-2 sm:flex-col">
								<li class="flex-1"><span transition:name="destination-avg-distance" class="block subheading-2 text-primary uppercase">Avg. Distance</span><span transition:animate="slide" class="subheading-1 uppercase">{planet.data.distance}</span></li>
								<li class="flex-1"><span transition:name="destination-travel-time" class="block subheading-2 text-primary uppercase">Est. Travel Time</span><span transition:animate="slide" class="subheading-1 uppercase">{planet.data.travel}</span></li>
							</ul>
						</div>
					</div>
				</div>

			</article>
		</div>
	</main>
</Layout>

